.best-team {
    background-color: #ffe1bd;
   /* height: 780px; */   
    padding-bottom: 150px;
}

.member {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.member__avatar {
    margin: 0 auto;
    width: 168px;
    height: 168px;
    border-radius: 100%;
    overflow: hidden;
    margin-bottom: 22px;
}

.member__avatar img {
    width: 100%;
}

.member__name {
    position: relative;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.05;
    margin-top: 0;
    margin-bottom: 40px;
}

.member__name:after {
    content:  "";
    position: absolute;
    height: 2px;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    width: 55px;
    background-color: #000000;
}

.member__job {
    font-size: 18px;
    line-height: 1,05;
}

.best-team ul.slick-dots {
    position: absolute;
    bottom: 100px;
}