
.card {
    height: 560px;
    justify-content: space-between;
}

.card:not(:last-child)  {
     margin-bottom: 100px;
}

.card:nth-child(2n-1) {
    flex-direction: row-reverse;
  }

.card__header {
    margin:0;
    font-size: 30px;
    line-height: 30px;
    position: relative;
}

.card__header_s {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

.card__header::after {
    content:  "";
    position: absolute;
    height: 2px;
    left: 0;
    /*transform: translate(-50%);*/
    bottom: -27px;
    width: 55px;
    background-color: #000000;
}

.card__p {
    margin: 56px 0px;
    font-size: 18px;
    font-weight: 300;
}

.card__img img {
    width: 100%;
}
