.gallery__box {
    margin-bottom: 28px;
}

.gallery__column img:not(:last-child){
    margin-bottom: 28px;
}

.gallery__column img {
    width: 100%;
}

.gallery__button-wrap {
  display: flex;
  justify-content: center;
  padding-top: 22px;
  padding-bottom: 50px;
}