.container {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.row {
    margin: 0 -15px;
    display: flex;
}

div[class^="col-"] {
    padding: 0 15px;
}

.col-12 {
    width: 100%;
}
.col-11 {
    width: calc(100%/12 * 11);
}
.col-10 {
    width: calc(100%/12 * 10);
}
.col-9 {
    width: calc(100%/12 * 9);
}
.col-8 {
    width: calc(100%/12 * 8);
}
.col-7 {
    width: calc(100%/12 * 7);
}
.col-6{
    width: 50%;
}
.col-5 {
    width: calc(100%/12 * 5);
}
.col-4 {
    width: calc(100%/12 * 4);
}
.col-3 {
    width: calc(100%/12 * 3);
}
.col-2 {
    width: calc(100%/12 * 2);
}
.col-1 {
    width: calc(100%/12);
}