.header {
    height: 156px; 

}
.header > .container,
.header > .container > .row {
    height: 100%;
}

.header__item {
    display: flex;
    align-items: center;
}

.header__item_nav {
    justify-content: flex-end;
}

.logo-img {
    width: 120px;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav__link {
    color: #989898;
    font-size: 18px;
    text-decoration: none;
    font-weight: 300;
    padding: 10px 15px;
}

.nav__item:last-child  >.nav__link {
    padding-right: 0;
}

.nav__link:hover {
    color: #4f4f4f;
}