.insta-gallery__box {
  padding-bottom: 100px;
}

.insta-gallery__line {
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 46px;
}


.insta-gallery__line img:not(:last-child){
  margin-right: 20px;
}

 .insta-gallery__line2 {
  justify-content: center;
 }

